/.DS_Store
/.env
.test/
.idea/
.test/
/id_rsa
/node_modules
main.db
src/cron/.DS_Store
src/.DS_Store
service_account.json
src/sheets/.DS_Store
token.json
src/remonline/.DS_Store
main.db-journal
_main.db
