name: Deploy MyTaxiCrm Helper

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  check:
    name: Code Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Check Code Formatting (Prettier)
        run: npm run format:check 

  deploy:
    name: Deploy to Server
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: check
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Deploy to server
      uses: appleboy/ssh-action@v0.1.4
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        password: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          cd myTaxiCrm-Helper
          git pull
          npm ci
          npm run migrate:up
          npm run prisma:gen:all
          npm run prisma:migrate:deploy:all
          pm2 restart 'myTaxiCrm Helper'
          pm2 reset 'myTaxiCrm Helper'